@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Roboto';
}

table, th, td {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 4px;
}